<div class="container">
  <div class="container text-center" style="margin: 30px;">
      <h3>Inventory System</h3>
  </div>

  @if (products().length > 0) {
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">PRICE</th>
            <th scope="col">STOCK</th>
            <th scope="col" class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (p of products(); track p.idProduct) {
          <tr>
            <th scope="row">{{p.idProduct}}</th>
            <td>{{p.description}}</td>
            <td>{{p.price | currency}}</td> <td>{{p.stock}}</td>
            <td class="text-center">
              <div>
                <button (click)="editProduct(p.idProduct)"
                class="btn btn-warning btn-sm me-3">Edit</button>

              <button (click)="deleteProduct(p.idProduct)" 
              class="btn btn-danger btn-sm">Delete</button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
  } @else {
    <div class="alert alert-warning">
        Esperando datos del servidor... o la lista está vacía.
    </div>
  }
</div>